.Rider{
  display: flex;
  justify-content: center;
  align-items: center;
}

.riderBtn{
  display: flex;
  align-items: center;
  padding:0 5px;
  margin:5px;
  height:30px;
  color: var(--text-color-light);
}

.riderBtn:hover{
  border:solid 2px grey;
  background-color: var(--text-color-light);
  cursor: pointer;
}

.active{
  border-top: solid var(--text-color);
  border-left: solid var(--text-color);
  border-right: solid var(--text-color);
}