.rider{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rider-btn{
  display: flex;
  align-items: center;
  padding:0 5px;
  margin:5px;
  height:30px;
  color: var(--text-color-light);
}

.rider-btn:hover{
  background-color: var(--extra-color);
  cursor: pointer;
}

.active {
  background-color: var(--extra-color);
}

.active h3{
  color: var(--text-color-light);
}