.punch-area {
  border-top: dashed var(--extra-color);
  width: var(--app-width);
  overflow-y: hidden;
  overflow-x: auto;
}

#punch-area-header{
  display: flex;
  flex-direction: column;
  z-index:1;
  left:40px;
}
.punch-area h1{
  color: var(--extra-color);
  font-size: 80px;
  line-height: 1;
  opacity: 0.5;
}

.punch-card-wrapper{
  position: relative;
  top:-156px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.active-punch-card{
  height:156px;
  min-width:var(--app-width-x2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index:2;
}

.daily-card{
  text-align: right;
  border-right:dashed var(--extra-color) 4px;
}
.daily-punch{
  height:156px;
  min-width:var(--app-width-x2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index:2;
/*   position: relative;
  left: -30%; */
}

.punched-hole-active{
  width:20px;
  height:7px;
  margin:3px 4px;
  background-color: var(--text-color);
}

.punched-hole{
  width:20px;
  height:7px;
  margin:3px 4px;
}

.date-tag{
  margin: -5px 10px -5px -10px;
  width: 100%;
  color: var(--extra-color);
}
.active-punch-card{
  text-align: right;
}