:root {
  --text-color:#2E3532;
  --text-color-light:#E0E2DB;
  --header-bg-color:#E0E2DB;
  --rider-bg-color: #468C98;
  --main-bg-color: rgb(247, 229, 214);
  --punch-bg-color: #D2D4C8;
  --extra-color:rgb(204, 50, 22);
  --app-width:360px;
  --app-height:600px;
}
*{
  box-sizing: 0;
  margin:0;
  color:var(--text-color);
}

.app {
  text-align: center;
  width:var(--app-width);
  height:var(--app-height);
  border: solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.rider{
  height:6%;
  border-bottom: solid var(--extra-color);
  background-color: var(--main-bg-color);
  color: var(--text-color-light);
}

.main-area{
  height:68%;
  background-color: var(--main-bg-color);
}

.punch-area{
  height:25%;
  background-color: var(--main-bg-color);
  color: var(--text-color-light);
}

