*{
  box-sizing: 0;
  margin:0;
}

.App {
  text-align: center;
  width:360px;
  height:600px;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

