/* GENERAL */

.setting-input{
  background-color: var(--main-bg-color);
  border:unset;
  border-bottom: solid  var(--text-color) ;

}

/* PROJECT LIST */
.project-list{
  position: fixed;
  display: flex;
  flex-direction: column;
  width:184px;
  max-height:400px;
  margin:115px 0px 0 80px ;
  border: solid 3px var(--text-color);
  background-color: var(--main-bg-color);
  text-align: left;
  padding:5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.project-tag{
  padding-left:5px;
}

.project-tag:hover{
  background-color: var(--extra-color);
}

.project-tag:hover .project-tag-name{
    color: var(--main-bg-color);
}

/* PROJECT ADDER */

.project-adder{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top:0;
  width:var(--app-width);
  height:var(--app-height);
  background-color: var(--main-bg-color);
  text-align: left;
}


.exit-btn{
  align-self: end;
  font-weight: bold;
  font-size: 30px;
  margin:10px;
  transform: rotate(45deg);
}

#project-name-input{
  font-size: 20px;
  width: 300px;
}

#name-error{
  color:var(--extra-color);
}

#project-info-input{
  border: solid  var(--text-color) ;
  font-size: 16px;
  width: 280px;
  padding:10px;
  resize: none;
}

.submit-btn{
  font-size: 20px;
  margin:10px;
  padding:5px;
}

.submit-btn:active{
  background-color: var(--extra-color);
  color: var(--main-bg-color);
  border-radius: 5px;
}
